@font-face{
    src:url(../Font/Poppins-Regular.ttf);
    font-family: 'Pop';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pop';
}
body{
    font-family:'Poppins', sans-serif; 
}

h2 a {
    list-style: none;
    text-decoration: none;
}



footer{
    background-color: #333;
    height: 127px;
    border-top: 2px solid #202020;
}

footer p {
    color: #fff;
    text-align: center;
    top:50%;
    position: relative;
}